{%  extends 'attendence_sys/main.html' %}
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a>
			<hr>
			<h3 style="text-align: center">Faculty Profile Pic</h3>
			<hr>
			{% if request.user.faculty.profile_pic %}
				<img class="img-responsive profile-pic" src="{{request.user.faculty.profile_pic.url}}" >
			{% else %}
				<div style="text-align: center; padding: 40px; background: #f8f9fa; border-radius: 10px;">
					<i class="fas fa-user-circle" style="font-size: 100px; color: #ccc;"></i>
					<p style="color: #666; margin-top: 15px;">No profile picture uploaded</p>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>



{% endblock %}